body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

table {
  table-layout: fixed;
  text-align: left;
  width: 900px;
  border-collapse: collapse;
}

thead {
  background-color: #adb5bd;
}

tbody tr:nth-child(odd) {
  background-color: #e9ecef;
}

tbody tr:nth-child(even) {
  background-color: #ced4da;
}

td {
  padding: 10px;
}

.td-img {
  width: 100px;
}
